In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('https://docs.google.com/spreadsheets/d/1rK1CLqpsd6JfSBLk9nRE-f0NzDc9lEXgxZ-cKjxIN_s/export?format=csv')

In [3]:
data.head()

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,NaN,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...

In [4]:
data.describe()

        Unnamed: 0
count  46608.00000
mean   23303.50000
std    13454.71501
min        0.00000
25%    11651.75000
50%    23303.50000
75%    34955.25000
max    46607.00000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46608 entries, 0 to 46607
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      46608 non-null  int64
 1   Agent_id        46608 non-null  object
 2   status          46608 non-null  object
 3   lost_reason     43244 non-null  object
 4   budget          42908 non-null  object
 5   lease           44267 non-null  object
 6   movein          32970 non-null  object
 7   source          46608 non-null  object
 8   source_city     46608 non-null  object
 9   source_country  46608 non-null  object
 10  utm_source      46608 non-null  object
 11  utm_medium      46608 non-null  object
 12  des_city        46608 non-null  object
 13  des_country     46608 non-null  object
 14  room_type       23061 non-null  object
 15  lead_id         46608 non-null  object
dtypes: int64(1), object(15)
memory usage: 5.7+ MB

In [6]:
d=data['status'].unique()
d

array(['LOST', 'WON', 'OPPORTUNITY', 'CONTACTED', 'PROCESSING',
       'IMPORTANT'], dtype=object)

In [7]:
data['status'].value_counts()

LOST           43244
WON             3073
OPPORTUNITY      254
CONTACTED         28
PROCESSING         8
IMPORTANT          1
Name: status, dtype: int64

In [8]:
#we drop rows other than won and lost as status
data = data[data['status'].isin(['WON', 'LOST'])]

In [9]:
d=data['status'].unique()
d

array(['LOST', 'WON'], dtype=object)

In [10]:
#Replacing with nan
data=data.replace('9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6c9bc9d493a23be9de0', np.nan)
data

,Unnamed: 0,Agent_id,status,lost_reason,budget,lease,movein,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,31/08/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,NaN,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,NaN,NaN,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46603,46603,2306878a9ad9b57686cd623dd285aaa9b25afdf627f651...,LOST,Low availability,£60 - £120 Per week,Complete Education Year Stay 50 - 52 weeks,01/09/22,NaN,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,13d4b96b6ee361b737e22404aeecca45f322ba7d4c2c42...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,1aaa4a4a9092e4c0eabf958ed9aea59c50d8ea3f08f691...
46604,46604,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,LOST,Semester stay,£60 - £120 Per week,Summer/Short Stay 8 - 12 weeks,29/09/22,NaN,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,998c18dc0e513ab0035c7b858e3780bbbead88695a15de...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,1f90dbad4873cb9673ff3c7ec69fbac4289181453c6cea...
46605,46605,1134c0a7d44fdae1afd7f1f64e2789496784095ca0a050...,LOST,Low availability,£241 - £300 Per week,Full Year Course Stay 40 - 44 weeks,20/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,d9e0f455b68a6573544ffac32292541a510fe2daffe2bb...
46606,46606,8b8b029f1142f5cbc825aa6cbee01406c915c6b055db79...,LOST,Low availability,1108,294,30/08/22,d684761c17c11590f6e2525b48141cb2c0c6f2be5df4e2...,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,b936ee09e20b3b2234907cde349cda1c1a5327c4a486bf...,7f3fa48ca885678134842fa7456f3ece53a97f843b6101...,abb8e2badd5b6265c3237170cc599257a4f566706715d2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1f90dbad4873cb9673ff3c7ec69fbac4289181453c6cea...
46607,46607,1ea65ea38f2f574b3875ba895e4ff76b284b7725041612...,LOST,Low availability,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,01/09/22,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,1496126b7015defbc3b1d129a46096a5c135075aff2add...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,618738f7143c9b43a98a6b42d743a6595069a9b4dcf42d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,7520a8abba2b44d7f37c0ddbe5f7f3d87540b2b7a670e9...

In [11]:
# we are dropping columns which will not help in prediction
data.drop(['Unnamed: 0','movein'], axis = 1, inplace=True)

In [12]:
data

,Agent_id,status,lost_reason,budget,lease,source,source_city,source_country,utm_source,utm_medium,des_city,des_country,room_type,lead_id
0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Not responding,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,cd5dc0d9393f3980d11d4ba6f88f8110c2b7a7f7796307...
1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,LOST,Low budget,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,b94693673a5f7178d1b114e4004ad52377d3244dd24a3d...
2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,LOST,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Ensuite,96ea4e2bf04496c044745938c0299c264c3f4ba079e572...
3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,LOST,Low budget,0-0,0,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1d2b34d8add02a182a4129023766ca4585a8ddced0e5b3...
4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,LOST,Junk lead,NaN,NaN,NaN,NaN,NaN,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,NaN,NaN,NaN,fc10fffd29cfbe93c55158fb47752a7501c211d253468c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46603,2306878a9ad9b57686cd623dd285aaa9b25afdf627f651...,LOST,Low availability,£60 - £120 Per week,Complete Education Year Stay 50 - 52 weeks,NaN,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,13d4b96b6ee361b737e22404aeecca45f322ba7d4c2c42...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,1aaa4a4a9092e4c0eabf958ed9aea59c50d8ea3f08f691...
46604,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,LOST,Semester stay,£60 - £120 Per week,Summer/Short Stay 8 - 12 weeks,NaN,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,998c18dc0e513ab0035c7b858e3780bbbead88695a15de...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,1f90dbad4873cb9673ff3c7ec69fbac4289181453c6cea...
46605,1134c0a7d44fdae1afd7f1f64e2789496784095ca0a050...,LOST,Low availability,£241 - £300 Per week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,d9e0f455b68a6573544ffac32292541a510fe2daffe2bb...
46606,8b8b029f1142f5cbc825aa6cbee01406c915c6b055db79...,LOST,Low availability,1108,294,d684761c17c11590f6e2525b48141cb2c0c6f2be5df4e2...,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,b936ee09e20b3b2234907cde349cda1c1a5327c4a486bf...,7f3fa48ca885678134842fa7456f3ece53a97f843b6101...,abb8e2badd5b6265c3237170cc599257a4f566706715d2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,NaN,1f90dbad4873cb9673ff3c7ec69fbac4289181453c6cea...
46607,1ea65ea38f2f574b3875ba895e4ff76b284b7725041612...,LOST,Low availability,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,1496126b7015defbc3b1d129a46096a5c135075aff2add...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,618738f7143c9b43a98a6b42d743a6595069a9b4dcf42d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...,Studio,7520a8abba2b44d7f37c0ddbe5f7f3d87540b2b7a670e9...

In [13]:
#checking for null values
data.isnull().sum()

Agent_id              0
status                0
lost_reason        3073
budget             3694
lease              2336
source             5951
source_city        8831
source_country     8622
utm_source           61
utm_medium         3184
des_city           2529
des_country        2529
room_type         23491
lead_id               0
dtype: int64

In [14]:
round(100*(data.isnull().sum()/len(data.index)), 2)

Agent_id           0.00
status             0.00
lost_reason        6.63
budget             7.98
lease              5.04
source            12.85
source_city       19.07
source_country    18.62
utm_source         0.13
utm_medium         6.87
des_city           5.46
des_country        5.46
room_type         50.72
lead_id            0.00
dtype: float64

In [15]:
data=data.drop(data.loc[:,list(round(100*(data.isnull().sum()/len(data.index)), 2)>50)].columns, 1)

In [16]:
data = data.fillna(method='ffill').fillna(method='bfill')

In [17]:
data.isnull().sum()

Agent_id          0
status            0
lost_reason       0
budget            0
lease             0
source            0
source_city       0
source_country    0
utm_source        0
utm_medium        0
des_city          0
des_country       0
lead_id           0
dtype: int64

In [18]:
data['lost_reason'].describe()

count                46317
unique                  30
top       Low availability
freq                  9544
Name: lost_reason, dtype: object

In [19]:
data['lost_reason'].unique()

array(['Not responding', 'Low budget', 'Junk lead',
       'Wants private accommodation', 'Short stay', 'Booked with manager',
       'Low availability', 'Not interested', 'Just Enquiring',
       'Distance issue', 'Not serving in that region', 'No supply',
       'Repeat lead', 'Not a student', 'Semester stay', 'Supply issue',
       'Visa/admission denied', 'Inadequate details',
       'Booked with competitor', 'Not going to university',
       'Junk lead/ Just Enquiring', 'Lead issue',
       'Booked on campus accommodation', 'Looking for admission',
       'Underage student', 'Guarantor issue', "Didn't respond in time",
       'Looking for loan', 'Looking for Scholarship', 'Cross sell'],
      dtype=object)

In [20]:
data['budget'].describe()

count                   46317
unique                   1851
top       £60 - £120 Per week
freq                    10538
Name: budget, dtype: object

In [21]:
overall_stats_budget=data['budget'].value_counts()
overall_stats_budget

£60 - £120 Per week     10538
£121 - £180 Per Week     9591
0-0                      6247
£181 - £240 Per Week     2301
100                      1645
                        ...
80/week                     1
0-60-180£ per week          1
1364                        1
220-230 pw                  1
7000 pounds                 1
Name: budget, Length: 1851, dtype: int64

In [22]:
l=[x for x in overall_stats_budget  if x>10]
print(l)

[10538, 9591, 6247, 2301, 1645, 1177, 759, 734, 723, 596, 457, 422, 404, 390, 387, 345, 315, 307, 279, 241, 233, 155, 126, 122, 121, 109, 109, 107, 100, 96, 90, 84, 83, 79, 78, 76, 74, 72, 71, 69, 67, 64, 62, 60, 60, 59, 58, 57, 55, 55, 54, 51, 49, 48, 46, 45, 45, 45, 40, 40, 40, 38, 38, 37, 37, 37, 37, 36, 36, 35, 34, 34, 34, 31, 31, 30, 30, 30, 28, 28, 28, 27, 27, 26, 26, 26, 25, 25, 25, 24, 23, 23, 23, 23, 23, 23, 23, 22, 22, 22, 21, 21, 21, 21, 20, 20, 20, 20, 20, 20, 19, 19, 19, 19, 19, 19, 18, 18, 18, 18, 17, 17, 17, 17, 17, 17, 17, 17, 17, 16, 16, 16, 15, 15, 15, 15, 15, 15, 15, 14, 14, 14, 14, 14, 14, 14, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 12, 12, 12, 12, 12, 12, 12, 12, 12, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11]

In [23]:
budget_stats_less_than_10 = overall_stats_budget[overall_stats_budget<=10]
budget_stats_less_than_10

144                   10
134                   10
229                   10
313                   10
184                   10
                      ..
80/week                1
0-60-180£ per week     1
1364                   1
220-230 pw             1
7000 pounds            1
Name: budget, Length: 1672, dtype: int64

In [24]:
data.budget = data.budget.apply(lambda x: 'other' if x in budget_stats_less_than_10 else x)
len(data.budget.unique())

180

In [25]:
data.budget.unique()

array(['£121 - £180 Per Week', '0-0', '120', '£181 - £240 Per Week',
       '100', '270', '150', '180', '£60 - £120 Per week', '140', 'other',
       '380', '110', '165', '175', '> 300£ Per Week', '109', '160', '143',
       '151', '170', '£241 - £300 Per week', '0-100', '130', '0-120',
       '129', '350', '0-150', '200', '300', '450', '190', '215', '240',
       '189', '102', '192', '145', '177', '260', '210', '172', '238',
       '224', '250', '230', '100/week', '0-170', '0-130', '249', '155',
       '139', '0-200', '600', '95', '0-160', '319', '290', '500', '340',
       '0-140', '200/week', '125', '£150 Per Week', '60', '0-250', '136',
       '0-180', '96', '182', '213', '123', '0-110', '227', '220', '77',
       '162', '247', '92', '195', '80', '279', '120/week', '280', '294',
       '185', '70', '330', '320', '180/week', '178', '245', '174', '119',
       '132', '169', '205', '115', '199', '142', '300/week', '500/month',
       '183', '105', '159', '99', '164', '201', '179', '138', '166',
       '239', '160/week', '117', '161', '250/week', '197', '400', '114',
       '193', '0-400', '135', '196', '0-190', '90', '75', '79', '158',
       '0-350', '133', '226', '181', '305', '221', '£200 Per Week', '149',
       '273', '219', '137', '176', '168', '235', '118', '217', '188',
       '0-300', '244', '225', '222', '212', '106', '89', '156', '310',
       '154', '152', '204', '198', '84', '£160 Per Week', '85', '232',
       '218', '163', '187', '450/month', '>150/week', '147', '150/week',
       '246', '157', '167', '98', '0-£100', '148', '112', '122', '200 pw',
       '202', '237'], dtype=object)

In [26]:
data['budget'].value_counts()

£60 - £120 Per week     10538
£121 - £180 Per Week     9591
0-0                      6247
other                    2988
£181 - £240 Per Week     2301
                        ...
305                        11
0-350                      11
235                        11
123                        11
180/week                   11
Name: budget, Length: 180, dtype: int64

In [27]:
data['lease'].describe()

count                                   46317
unique                                    311
top       Full Year Course Stay 40 - 44 weeks
freq                                    11505
Name: lease, dtype: object

In [28]:
stats_lease=data['lease'].value_counts()
stats_lease

Full Year Course Stay 40 - 44 weeks           11505
0                                              7966
Complete Education Year Stay 50 - 52 weeks     6796
51                                             4153
Semester Stay 20 - 24 weeks                    2911
                                              ...
130/week                                          1
130                                               1
97                                                1
full yyear stay                                   1
5-6 weeks                                         1
Name: lease, Length: 311, dtype: int64

In [29]:
lease_stats_less_than_5 = stats_lease[stats_lease<=5]
lease_stats_less_than_5

20 - 24 weeks      5
1 month            5
50 weeks           5
51 weeks weeks     5
32                 5
                  ..
130/week           1
130                1
97                 1
full yyear stay    1
5-6 weeks          1
Name: lease, Length: 223, dtype: int64

In [30]:
data.lease = data.lease.apply(lambda x: 'other1' if x in lease_stats_less_than_5 else x)
len(data.lease.unique())

89

In [31]:
data['lease'].value_counts()

Full Year Course Stay 40 - 44 weeks           11505
0                                              7966
Complete Education Year Stay 50 - 52 weeks     6796
51                                             4153
Semester Stay 20 - 24 weeks                    2911
                                              ...
44 week                                           8
44 - 51                                           6
4 months                                          6
14 weeks                                          6
56                                                6
Name: lease, Length: 89, dtype: int64

In [32]:
data['source'].describe()

count                                                 46317
unique                                                  682
top       7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...
freq                                                  22023
Name: source, dtype: object

In [33]:
source_stats=data['source'].value_counts()
source_stats

7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2b7c51be879f0c37ca8    22023
7bcfca0e9d73371699b0adbf1c691e02108fa64f02f4dbe24a0217f139a9b916     4352
ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9eaa29e3f169d2ca43b2b     4150
d684761c17c11590f6e2525b48141cb2c0c6f2be5df4e229dae06e64c5c41b64     2490
9ba9134a91cfc6b52ac8d480e9ad37896ca4ac216e2d795fdb7d75a63d6c60af     2448
                                                                    ...
9d202fc6648a394eaaf1f8fec0cc84799178771fa60b8293f6e4dc423ac4f596        1
30cb8da5d1ef504197b6071980c69bb10c598f9cedf8de063d1e0bf17977e7e9        1
0169e7f92b1b83d4abd6bfbc87f85412134021888e8a2abf63fc51b3cae37c6b        1
4cbbfcdd7bfe0195db1cf9155533deb52e4ba815a336b3bfd7198efa60ef3133        1
c7c1054a1d51ae1675d4de28ec9b1a12e8950a676c86efc3a3f691a7aca87a29        1
Name: source, Length: 682, dtype: int64

In [34]:
s_stats_less_than_10 = source_stats[source_stats<=10]
s_stats_less_than_10

cca6e68ea176f1ea07786b1054f16bb0c5e9c3a675490148ce6c2749567d5807    10
2502b2dc9bc65b9b04f21eaf0b57d8e92e54aa29c62233f7b657f221305b636d    10
f789909693b3898605450349b35d0218bc556c51f960f944e50ae242dc3446a3    10
aa784e1655aa8009fb61155d9c71935340ad00a4d7d8aceaf54d1b4fd6859e89    10
9ab9b659a836589f715b72165b0d32cad846412e62851c7b89f77c5aedf0df6c     9
                                                                    ..
9d202fc6648a394eaaf1f8fec0cc84799178771fa60b8293f6e4dc423ac4f596     1
30cb8da5d1ef504197b6071980c69bb10c598f9cedf8de063d1e0bf17977e7e9     1
0169e7f92b1b83d4abd6bfbc87f85412134021888e8a2abf63fc51b3cae37c6b     1
4cbbfcdd7bfe0195db1cf9155533deb52e4ba815a336b3bfd7198efa60ef3133     1
c7c1054a1d51ae1675d4de28ec9b1a12e8950a676c86efc3a3f691a7aca87a29     1
Name: source, Length: 588, dtype: int64

In [35]:
data.source = data.source.apply(lambda x: 'other2' if x in s_stats_less_than_10 else x)
len(data.source.unique())

95

In [36]:
ls=data['lead_id'].value_counts()
len(ls)

30491

In [37]:
data=data.drop('lead_id',axis=1)

In [38]:
data= data.replace(to_replace={'LOST':0,'WON':1})

In [39]:
data

,Agent_id,status,lost_reason,budget,lease,source,source_city,source_country,utm_source,utm_medium,des_city,des_country
0,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,0,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
1,299ae77a4ef350ae0dd37d6bba1c002d03444fb1edb236...,0,Low budget,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,5372372f3bf5896820cb2819300c3e681820d82c6efc54...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
2,c213697430c006013012dd2aca82dd9732aa0a1a6bca13...,0,Not responding,£121 - £180 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9b8cc3c63cdf447e463c11544924bf027945cbd29675f7...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,11ab03a1a8c367191355c152f39fe28cae5e426fce49ef...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
3,eac9815a500f908736d303e23aa227f0957177b0e6756b...,0,Low budget,0-0,0,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
4,1deba9e96f404694373de9749ddd1ca8aa7bb823145a6f...,0,Junk lead,0-0,0,ba2d0a29556ac20f86f45e4543c0825428cba33fd7a9ea...,a5f0d2d08eb0592087e3a3a2f9c1ba2c67cc30f2efd2bd...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,3d59f7548e1af2151b64135003ce63c0a484c26b9b8b16...,268ad70eb5bc4737a2ae28162cbca30118cc94520e49ef...,19372fa44c57a01c37a5a8418779ca3d99b0b59731fb35...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
...,...,...,...,...,...,...,...,...,...,...,...,...
46603,2306878a9ad9b57686cd623dd285aaa9b25afdf627f651...,0,Low availability,£60 - £120 Per week,Complete Education Year Stay 50 - 52 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,13d4b96b6ee361b737e22404aeecca45f322ba7d4c2c42...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
46604,327ec29056cc47c24bf922f7dc0f78261dad5c726d7353...,0,Semester stay,£60 - £120 Per week,Summer/Short Stay 8 - 12 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,9f2ba6981e36ea0fca6c16f42e6413d788d2a7499b8b7f...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,998c18dc0e513ab0035c7b858e3780bbbead88695a15de...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
46605,1134c0a7d44fdae1afd7f1f64e2789496784095ca0a050...,0,Low availability,£241 - £300 Per week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,7d1550b844ff586a6023216c06263105eed0a849a2a1f6...,8da82000ef9c4468ba47362a924b895e40662fed846942...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
46606,8b8b029f1142f5cbc825aa6cbee01406c915c6b055db79...,0,Low availability,other,294,d684761c17c11590f6e2525b48141cb2c0c6f2be5df4e2...,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,b936ee09e20b3b2234907cde349cda1c1a5327c4a486bf...,7f3fa48ca885678134842fa7456f3ece53a97f843b6101...,abb8e2badd5b6265c3237170cc599257a4f566706715d2...,ecc0e7dc084f141b29479058967d0bc07dee25d9690a98...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...
46607,1ea65ea38f2f574b3875ba895e4ff76b284b7725041612...,0,Low availability,£181 - £240 Per Week,Full Year Course Stay 40 - 44 weeks,7aae3e886e89fc1187a5c47d6cea1c22998ee610ade1f2...,1496126b7015defbc3b1d129a46096a5c135075aff2add...,e09e10e67812e9d236ad900e5d46b4308fc62f5d69446a...,bbdefa2950f49882f295b1285d4fa9dec45fc4144bfb07...,09076eb7665d1fb9389c7c4517fee0b00e43092eb34821...,618738f7143c9b43a98a6b42d743a6595069a9b4dcf42d...,8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512...

In [40]:
data_dummies = pd.get_dummies(data)
data_dummies

,status,Agent_id_04222ea3e14cb1209b9726defe3efce5196b7afa0a959854a30401be41f4026d,Agent_id_04d19fde0a08b17aca69491e714bea43565384d12a63626e08477662cc03780e,Agent_id_06ae80c3e00a1457fc70192d357766c9de0a9787fe3dedc386ac0191e9c151c3,Agent_id_0a8e1918dfba7f1923f23bc135c7b0a76344b632c54ca1584c9938160705f63e,Agent_id_0b31c0155c83c5fdbff532bfe3e43dfe547938df26dd9092df0eb46bd7900b0c,Agent_id_1134c0a7d44fdae1afd7f1f64e2789496784095ca0a050947d659c256d331d34,Agent_id_131127203c89e8219dbdfe2f597538759310f40918b22270401794e1300d2c9d,Agent_id_13990937ab8ca4413751a9012a31255e72a18ba3ac8d5c83dd511df50cf2a3e1,Agent_id_15aefc83749af078486ccde85b7f17f9b40fec0bce7612b1a75910868f7aad2e,...,des_country_4c7de2c3da6dc0ae8f9d13b107718a913859359bd30166d077c867577953865d,des_country_5a9cf672c8be6b5ab9546a2fb49b06dd81a4e364c86ed023898c49d9bb0605dc,des_country_7a1ca4ef7515f7276bae7230545829c27810c9d9e98ab2c06066bee6270d5153,des_country_80db4ccdca106d37b920206331fcfe3e9e50a9e763d89b54ce3ad5ac8cf30f03,des_country_8d23a6e37e0a6431a8f1b43a91026dcff51170a89a6512ff098eaa56a4d5fb19,des_country_8ef41e6f4b07432a0cb4eb7a8774e7a3878fd3e385f49aa09b406768467db228,des_country_abd149214539d9f222d25de6358735b9fa0efd3956f66102b2c119ae2d9f6348,des_country_be55ef3f4c4e6c2d9c2afe2a33ac90ad0f50d4de7f9163999877e2a9ca5a54f8,des_country_c1ef40ce0484c698eb4bd27fe56c1e7b68d74f9780ed674210d0e5013dae45e9,des_country_dd64913c8b91d76ca27b371f0b86fd30452370469b8cadf4e5a61d41d14e42ec
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46603,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
46604,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
46605,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
46606,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
46607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [41]:
x = data_dummies.drop('status',axis = 1)
y = data_dummies['status']
y.value_counts()

0    43244
1     3073
Name: status, dtype: int64

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x, y,test_size = 0.2)

In [43]:
len(x_train),len(x_test),len(y_train),len(y_test)

(37053, 9264, 37053, 9264)

In [44]:
model_lr=LogisticRegression(random_state=100)
model_lr.fit(x_train, y_train)
y_pred=model_lr.predict(x_test)

accuracy_lr = accuracy_score(y_test, y_pred, normalize=True)
f1_lr = f1_score(y_test, y_pred, average='binary')
r1_lr=recall_score(y_test, y_pred, average='binary')

In [45]:
y_tr=model_lr.predict(x_train)

In [46]:
from sklearn.metrics import classification_report

In [47]:
print(classification_report(y_train,y_tr))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97     34591
           1       0.78      0.24      0.37      2462

    accuracy                           0.94     37053
   macro avg       0.86      0.62      0.67     37053
weighted avg       0.94      0.94      0.93     37053

In [48]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97      8653
           1       0.69      0.19      0.30       611

    accuracy                           0.94      9264
   macro avg       0.82      0.59      0.64      9264
weighted avg       0.93      0.94      0.93      9264

In [49]:
print("accuracy_lr :",accuracy_lr)
print("f1_lr:",f1_lr)
print("r1_lr:",r1_lr)

accuracy_lr : 0.9410621761658031
f1_lr: 0.3035714285714286
r1_lr: 0.19476268412438624

In [50]:
model_dt = DecisionTreeClassifier( max_depth = 6, min_samples_leaf = 8)
model_dt.fit(x_train, y_train)
y_pred = model_dt.predict(x_test)

accuracy_dt = accuracy_score(y_test, y_pred, normalize=True)
f1_dt = f1_score(y_test, y_pred, average='binary')
re_dt=recall_score(y_test, y_pred, average='binary')

In [51]:
print("accuracy_dt :",accuracy_dt)
print("f1_dt:",f1_dt)
print("r1_dt:",re_dt)

accuracy_dt : 0.9366364421416234
f1_dt: 0.18131101813110181
r1_dt: 0.10638297872340426

In [52]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100, max_depth=6, min_samples_leaf=8)   
model_rf.fit(x_train,y_train)
y_pred=model_rf.predict(x_test)

accuracy_rf = accuracy_score(y_test, y_pred, normalize=True)
f1_rf = f1_score(y_test, y_pred, average='binary')
re_rf=recall_score(y_test, y_pred, average='binary')

In [53]:
print("accuracy_rf :",accuracy_rf)
print("f1_rf:",f1_rf)
print("re_rf:",re_rf)

accuracy_rf : 0.9340457685664939
f1_rf: 0.0
re_rf: 0.0

In [54]:
model_knn = KNeighborsClassifier(n_neighbors=7).fit(x_train, y_train)
y_pred = model_knn.predict(x_test)


accuracy_knn = accuracy_score(y_test, y_pred, normalize=True)
f1_knn = f1_score(y_test, y_pred, average='binary')
re_knn = recall_score(y_test, y_pred, average='binary')

In [55]:
print("accuracy_knn :",accuracy_knn)
print("f1_knn:",f1_knn)
print("re_knn:",re_knn)

accuracy_knn : 0.9366364421416234
f1_knn: 0.16500711237553342
re_knn: 0.09492635024549918

In [56]:
classification_metrics_accuracy = [accuracy_dt, accuracy_rf, accuracy_lr, 
                                     accuracy_knn]

classification_metrics_f1 = [f1_dt, f1_rf, f1_lr, f1_knn ]

classification_metrics_re =  [re_dt, re_rf, r1_lr, re_knn ]

In [60]:
scores_df = pd.DataFrame(index=['Decision Tree', 'Random Forest', 'Logistic Regression', 'KNN'], 
columns=['Accuracy', 'F1', 'RECALL'])

scores_df['Accuracy'] = classification_metrics_accuracy
scores_df['F1'] = classification_metrics_f1
scores_df['RECALL'] = classification_metrics_re

scores_df

                     Accuracy        F1    RECALL
Decision Tree        0.936636  0.181311  0.106383
Random Forest        0.934046  0.000000  0.000000
Logistic Regression  0.941062  0.303571  0.194763
KNN                  0.936636  0.165007  0.094926